$green: #009A61;
$darker-green: #008d59;
$light-green: #EBF7F3;
$light-gray: #999;

.default-container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 0 20px;
  @media(min-width: 768px) {
    width: 730px;
    padding: 0;
  }
  @media(min-width: 992px) {
    width: 970px;
  }
  @media(min-width: 1200px) {
    width: 1140px;
  }
}

.content-container {
  display: flex;

  .left-content {
    width: 75%;
  }

  .right-content {
    width: 25%;
  }

  @media(max-width: 992px) {
    flex-direction: column;
    .left-content, .right-content {
      width: 100%;
    }
  }
}

.original-article {
  color: #F2AE43;
  background-color: rgba(242, 174, 67, 0.25);
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 1px;
  @media(max-width: 768px) {
    font-size: 1.1rem;
  }
}

.translate-article {
  color: #56C0E0;
  background-color: rgba(86, 192, 224, 0.25);
  font-size: 1.3rem;
  padding: 5px;
  line-height: 1;
  border-radius: 1px;
  @media(max-width: 768px) {
    font-size: 1.1rem;
  }
}

.reprint-article {
  color: #5CB85C;
  background-color: rgba(92, 184, 92, 0.25);
  font-size: 1.3rem;
  padding: 5px;
  line-height: 1;
  border-radius: 1px;

  @media(max-width: 768px) {
    font-size: 1.1rem;
  }
}

.common-input {
  width: 100%;
  height: 34px;
  font-size: 1.4rem;
  color: #555555;
  padding: 5px 25px 5px 15px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.075);

  &:focus {
    box-shadow: 0 0 3px 1px #3b99fc;
    border: none;
  }
}

.border-shadow {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

.active-button {
  background-color: #e6e6e6;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.default-content-layout {
  display: flex;

  .left-part {
    flex-grow: 1;
  }

  .right-part {
    width: 30%;
    min-width: 30%;
    padding-left: 20px;
    box-sizing: border-box;
  }

  @media(max-width: 768px) {
    flex-direction: column;
    .left-part, .right-part {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
}

.md-style {
  font-size: 1.5rem;
  line-height: 1.8;

  a {
    color: $green;
    border-bottom: 1px solid rgba(0, 154, 97, 0.25);
    text-decoration: none;

    &:hover {
      color: #004e31;;
      border-bottom-color: $green;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
    margin-top: 1.5em;
  }

  h1 {
    font-size: 2em;
    line-height: 1.75em;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
  }

  h2 {
    font-size: 1.75em;
    line-height: 1.5em;
    border-bottom: 1px solid #eee;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.25em;
  }

  h4 {
    font-size: 1.25em;
    line-height: 1em;
  }

  mark {
    font-size: 0.93em;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    padding: 2px 4px;
  }

  ul, ol {
    margin-top: 1.5em;
    padding-left: 20px;
    box-sizing: border-box;

    li {
      list-style-type: disc;
    }
  }

  code {
    display: block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f6f6f6;
    margin-top: 1.5em;
    overflow-x: auto;
  }

  p {
    margin-top: 1.5em;
  }

  blockquote {
    border-left: 2px solid $green;
    background-color: #F6F6F6;
    color: #555555;
    padding: 10px 20px 10px 10px;
    box-sizing: border-box;
    margin-top: 1.5em;

    * {
      margin-top: 0;
    }
  }

  img {
    margin: 1.5em auto auto;
    max-width: 100%;
    width: fit-content;
  }

  table {
    margin-top: 1.5em;
  }
}

.must-input {
  display: inline-block;
  padding-right: 7px;
  position: relative;

  &:after {
    content: '';
    background: url('/icon/red-star.svg') no-repeat;
    background-size: cover;
    width: 6px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
