$green: #009A61;
$darker-green: #008d59;
$light-green: #EBF7F3;
$light-gray: #999;

.default-container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 0 20px;
  @media(min-width: 768px) {
    width: 730px;
    padding: 0;
  }
  @media(min-width: 992px) {
    width: 970px;
  }
  @media(min-width: 1200px) {
    width: 1140px;
  }
}

.content-container {
  display: flex;

  .left-content {
    width: 75%;
  }

  .right-content {
    width: 25%;
  }

  @media(max-width: 992px) {
    flex-direction: column;
    .left-content, .right-content {
      width: 100%;
    }
  }
}

.original-article {
  color: #F2AE43;
  background-color: rgba(242, 174, 67, 0.25);
  font-size: 1.3rem;
  padding: 0 5px;
  border-radius: 1px;
}

.common-input {
  width: 100%;
  height: 34px;
  font-size: 1.4rem;
  color: #555555;
  padding: 5px 25px 5px 15px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.075);

  &:focus {
    box-shadow: 0 0 3px 1px #3b99fc;
    border: none;
  }
}

.border-shadow {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}
